<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <title>springboot-vue-demo</title>
    <script defer="defer" src="/Login/js/chunk-vendors.c5a178ab.js"></script>
    <script defer="defer" src="/Login/js/app.4b32c9fd.js"></script>
    <link href="/Login/css/chunk-vendors.95aa0f07.css" rel="stylesheet">
    <link href="/Login/css/app.b6273c16.css" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but springboot-vue-demo doesn't work properly without JavaScript enabled. Please enable it
    to continue.</strong></noscript>
<div id="app"></div>
</body>
</html>